@import url("https://fonts.cdnfonts.com/css/gotham-pro");
/*----------Reset----------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #E5E5E5;
  font-family: "Gotham Pro", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*----------Reset END----------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bounding-box {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

@media (max-width: 768px) {
  .bounding-box {
    max-width: 704px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
  }
}
/*----------HEADER----------*/
.header {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.header__container {
  display: flex;
  justify-content: center;
  max-height: 60px;
  align-items: center;
}
.header__container .burger-menu__link img {
  width: 18px;
  height: 16px;
  margin: 0px 20px 0px 0px;
}
@media (max-width: 375px) {
  .header__container .burger-menu__link img {
    margin: 0px 12px 0px 0px;
  }
}
@media (max-width: 768px) {
  .header__container {
    min-height: 54px;
    justify-content: space-between;
  }
}
@media (min-width: 769px) {
  .header__burger-menu {
    display: none;
  }
}
.header__menu {
  padding: 5px 0px;
  margin: 0px 0px 0px 116px;
}
@media (max-width: 1210px) {
  .header__menu {
    margin: 0px 0px 0px 86px;
  }
}
@media (max-width: 920px) {
  .header__menu {
    margin: 0px 0px 0px 32px;
  }
}
@media (max-width: 768px) {
  .header__menu {
    display: none;
  }
}
.logo {
  display: flex;
}
.logo__img {
  width: 55px;
  height: 55px;
  border-radius: 6.34615px;
}
@media (max-width: 1210px) {
  .logo__img {
    width: 45px;
    height: 45px;
    margin: 6px 0px 0px 0px;
  }
}
@media (max-width: 768px) {
  .logo__img {
    width: 32px;
    height: 32px;
    margin: 11px 0px 0px 17px;
  }
}
@media (max-width: 375px) {
  .logo__img {
    margin: 0px 0px 0px 9px;
  }
}
.logo__link {
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 16px;
  color: #171717;
  line-height: 56px;
  margin: 0px 0px 0px 8px;
}
@media (max-width: 920px) {
  .logo__link {
    margin: 0px 0px 0px 4px;
  }
}
@media (max-width: 375px) {
  .logo__link {
    display: none;
  }
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__list > li {
  align-items: center;
  display: flex;
  padding: 22px 0;
}
.menu__item:not(:first-child) {
  margin: 0px 0px 0px 42px;
}
@media (max-width: 1020px) {
  .menu__item:not(:first-child) {
    margin: 0px 0px 0px 12px;
  }
}
.menu__link {
  color: #333333;
  font-style: normal;
  line-height: 150%;
}
.menu__link:hover {
  color: #1749B3;
}
.menu__link:active {
  color: #4B84FD;
}
@media (max-width: 1210px) {
  .menu__link {
    font-size: 14px;
    line-height: 200%;
  }
}

.down-menu__item {
  margin: 10px 0px 0px 4px;
}
.down-menu__item img {
  width: 11px;
  height: 6px;
}

@media (max-width: 1210px) {
  .down-menu__item {
    margin: 12px 0px 0px 4px;
  }
}
.sub-menu {
  position: relative;
}
.sub-menu__link {
  color: #171717;
  font-size: 17px;
}
.sub-menu__link:hover {
  color: #1749B3;
}
.sub-menu__down {
  display: block;
  margin: 0px 0px 0px 4px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333333;
  cursor: pointer;
}
.sub-menu__down:hover {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #1749B3;
}
@media (max-width: 1210px) {
  .sub-menu__down {
    margin: 2px 0px 0px 4px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333333;
  }
}
.menu-open__list {
  position: absolute;
  top: 100%;
  left: -12%;
  padding: 15px;
  background-color: #FFFFFF;
  min-width: 200px;
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
}
.menu-open__list li {
  margin: 0px 0px 10px 0px;
}
.menu-open__list li:last-child {
  margin: 0;
}
.sub-menu:hover .menu-open__list {
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}

.login-box {
  display: flex;
  align-items: baseline;
}
.login-box__networks {
  margin: 0px 0px 0px 122px;
}
@media (max-width: 1210px) {
  .login-box__networks {
    margin: 0px 0px 0px 62px;
  }
}
@media (max-width: 920px) {
  .login-box__networks {
    margin: 0px 0px 0px 22px;
  }
}
.login-box__lang {
  margin: 0px 0px 0px 42px;
}
@media (max-width: 1210px) {
  .login-box__lang {
    margin: 0px 0px 0px 22px;
  }
}
@media (max-width: 920px) {
  .login-box__lang {
    margin: 0px 0px 0px 12px;
  }
}
.login-box__login {
  width: 116px;
  height: 36px;
  border-radius: 12px;
  background: #1749B3;
  color: #FFFFFF;
  cursor: pointer;
  line-height: normal;
  margin: 0px 0px 0px 66px;
}
.login-box__login:hover {
  background: #FFFFFF;
  color: #171717;
  border: 1px solid #1749B3;
}
.login-box__login:active {
  background: #4B84FD;
  color: #FFFFFF;
}
@media (max-width: 1210px) {
  .login-box__login {
    width: 96px;
    height: 30px;
    margin: 0px 0px 0px 46px;
  }
}
@media (max-width: 920px) {
  .login-box__login {
    width: 76px;
    height: 30px;
    margin: 0px 0px 0px 20px;
  }
}

@media (max-width: 768px) {
  .login-box {
    display: none;
  }
}
.networks__list {
  display: flex;
}
.networks__item:not(:first-child) {
  margin: 0px 0px 0px 16px;
}
@media (max-width: 1210px) {
  .networks__item:not(:first-child) {
    margin: 0px 0px 0px 8px;
  }
}
@media (max-width: 920px) {
  .networks__item:not(:first-child) {
    margin: 0px 0px 0px 4px;
  }
}
.networks__link img {
  width: 20px;
  height: 20px;
}

.lang__item {
  position: relative;
  padding: 0px 0px 22px 0px;
}
.lang__item:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
.lang__item:hover .lang__open-list {
  position: absolute;
  top: 100%;
  opacity: 1;
  visibility: visible;
  transform: translate(0px, 0px);
  pointer-events: all;
}
.lang__select {
  color: #333333;
  width: 24px;
  height: 24px;
}
.lang__select:hover {
  color: #1749B3;
}
.lang__select > li {
  display: flex;
  align-items: center;
}
@media (max-width: 1210px) {
  .lang__select {
    font-size: 14px;
    width: 18px;
    height: 18px;
  }
}
.lang__list {
  width: 24px;
  height: 24px;
  line-height: 150%;
}
.lang__list > li {
  display: flex;
  align-items: center;
}
.lang__open-list {
  position: absolute;
  top: 100%;
  left: -16px;
  padding: 15px;
  background-color: #FFFFFF;
  min-width: 100px;
  border-radius: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: all 0.3s ease 0s;
}
.lang__link {
  color: #171717;
  font-size: 17px;
}
.lang__link:hover {
  color: #1749B3;
}

/*----------HEADER END----------*/