@import url('https://fonts.cdnfonts.com/css/gotham-pro');

/*----------Reset----------*/
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
  background-color: #E5E5E5;
  font-family: 'Gotham Pro', sans-serif;
  font-size: 16px;
  font-weight: 400;
}

/*----------Reset END----------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.bounding-box {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0px auto;
  box-sizing: content-box;
}

@media (max-width: 768px) {
  .bounding-box {
    max-width: 704px;
    padding: 0px 15px;
    margin: 0px auto;
    box-sizing: content-box;
  }
}

/*----------HEADER----------*/
.header {
  background-color: #FFFFFF;
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 10;

  &__container {
    display: flex;
    justify-content: center;
    max-height: 60px;
    align-items: center;

    .burger-menu {
      &__link img {
        width: 18px;
        height: 16px;
        margin: 0px 20px 0px 0px;
      }

      @media (max-width: 375px) {
        &__link img {
          margin: 0px 12px 0px 0px;
        }
      }
    }
  }

  @media (max-width: 768px) {
    &__container {
      min-height: 54px;
      justify-content: space-between;
    }
  }

  &__logo {}

  @media (min-width: 769px) {
    &__burger-menu {
      display: none;
    }
  }

  &__menu {
    padding: 5px 0px;
    margin: 0px 0px 0px 116px;
  }

  @media (max-width: 1210px) {
    &__menu {
      margin: 0px 0px 0px 86px;
    }
  }

  @media (max-width: 920px) {
    &__menu {
      margin: 0px 0px 0px 32px;
    }
  }

  @media (max-width: 768px) {
    &__menu {
      display: none;
    }
  }

  &__login {}
}

.logo {
  display: flex;

  &__img {
    width: 55px;
    height: 55px;
    border-radius: 6.34615px;
  }

  @media (max-width: 1210px) {
    &__img {
      width: 45px;
      height: 45px;
      margin: 6px 0px 0px 0px;
    }
  }

  @media (max-width: 768px) {
    &__img {
      width: 32px;
      height: 32px;
      margin: 11px 0px 0px 17px;
    }
  }

  @media (max-width: 375px) {
    &__img {
      margin: 0px 0px 0px 9px;
    }
  }

  &__link {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 16px;
    color: #171717;
    line-height: 56px;
    margin: 0px 0px 0px 8px;
  }

  @media (max-width: 920px) {
    &__link {
      margin: 0px 0px 0px 4px;
    }
  }

  @media (max-width: 375px) {
    &__link {
      display: none;
    }
  }
}

.menu {

  &__list {
    display: flex;
    flex-wrap: wrap;
  }

  &__list > li {
    align-items: center;
    display: flex;
    padding: 22px 0;
  }

  &__item {}

  &__item:not(:first-child) {
    margin: 0px 0px 0px 42px;
  }

  @media (max-width: 1020px) {
    &__item:not(:first-child) {
      margin: 0px 0px 0px 12px;
    }
  }

  &__link {
    color: #333333;
    font-style: normal;
    line-height: calc(24 / 16 * 100%);
  }

  &__link:hover {
    color: #1749B3;
  }

  &__link:active {
    color: #4B84FD;
  }

  @media (max-width: 1210px) {
    &__link {
      font-size: 14px;
      line-height: calc(24 / 12 * 100%);
    }
  }
}

.down-menu__item {
  margin: 10px 0px 0px 4px;

  img {
    width: 11px;
    height: 6px;
  }
}

@media (max-width: 1210px) {
  .down-menu__item {
    margin: 12px 0px 0px 4px;
  }
}

.sub-menu {
  position: relative;

  &__link {
    color: #171717;
    font-size: 17px;
  }

  &__link:hover {
    color: #1749B3;
  }

  &__down {
    display: block;
    margin: 0px 0px 0px 4px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #333333;
    cursor: pointer;
  }

  &__down:hover {
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1749B3;
  }

  @media (max-width: 1210px) {
    &__down {
      margin: 2px 0px 0px 4px;
      border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #333333;
    }
  }

  &__item {}

  &__link {}
}

.menu-open {
  &__list {
    position: absolute;
    top: 100%;
    left: -12%;
    padding: 15px;
    background-color: #FFFFFF;
    min-width: 200px;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;

    li {
      margin: 0px 0px 10px 0px;
    }

    li:last-child {
      margin: 0;
    }
  }

  .sub-menu:hover &__list{
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }
}

.login-box {
  display: flex;
  align-items: baseline;

  &__networks {
    margin: 0px 0px 0px 122px;
  }

  @media (max-width: 1210px) {
    &__networks {
      margin: 0px 0px 0px 62px;
    }
  }

  @media (max-width: 920px) {
    &__networks {
      margin: 0px 0px 0px 22px;
    }
  }

  &__lang {
    margin: 0px 0px 0px 42px;
  }

  @media (max-width: 1210px) {
    &__lang {
      margin: 0px 0px 0px 22px;
    }
  }

  @media (max-width: 920px) {
    &__lang {
      margin: 0px 0px 0px 12px;
    }
  }

  &__login {
    width: 116px;
    height: 36px;
    border-radius: 12px;
    background: #1749B3;
    color: #FFFFFF;
    cursor: pointer;
    line-height: normal;
    margin: 0px 0px 0px 66px;
  }

  &__login:hover {
    background: #FFFFFF;
    color: #171717;
    border: 1px solid #1749B3;
  }

  &__login:active {
    background: #4B84FD;;
    color: #FFFFFF;;
  }

  @media (max-width: 1210px) {
    &__login {
      width: 96px;
      height: 30px;
      margin: 0px 0px 0px 46px;
    }
  }

  @media (max-width: 920px) {
    &__login {
      width: 76px;
      height: 30px;
      margin: 0px 0px 0px 20px;
    }
  }
}

@media (max-width: 768px) {
  .login-box {
    display: none;
  }
}

.networks {

  &__list {
    display: flex;
  }

  &__item {}

  &__item:not(:first-child) {
    margin: 0px 0px 0px 16px;
  }

  @media (max-width: 1210px) {
    &__item:not(:first-child) {
      margin: 0px 0px 0px 8px;
    }
  }

  @media (max-width: 920px) {
    &__item:not(:first-child) {
      margin: 0px 0px 0px 4px;
    }
  }

  &__link img {
    width: 20px;
    height: 20px;
  }
}

.lang {

  &__item {
    position: relative;
    padding: 0px 0px 22px 0px;
  }

  &__item:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  &__item:hover &__open-list {
    position: absolute;
    top: 100%;
    opacity: 1;
    visibility: visible;
    transform: translate(0px, 0px);
    pointer-events: all;
  }

  &__select {
    color: #333333;
    width: 24px;
    height: 24px;
  }

  &__select:hover {
    color: #1749B3;
  }

  &__select > li {
    display: flex;
    align-items: center;
  }

  @media (max-width: 1210px) {
    &__select {
      font-size: 14px;
      width: 18px;
      height: 18px;
    }
  }

  &__list {
    width: 24px;
    height: 24px;
    line-height: calc(24 / 16 * 100%);
  }

  &__list > li {
    display: flex;
    align-items: center;
  }

  &__open-list {
    position: absolute;
    top: 100%;
    left: -16px;
    padding: 15px;
    background-color: #FFFFFF;
    min-width: 100px;
    border-radius: 16px;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.3s ease 0s;
  }

  &__link {
    color: #171717;
    font-size: 17px;
  }

  &__link:hover {
    color: #1749B3;
  }
}

/*----------HEADER END----------*/